.gallery {
  background: var(--accent-color);
}

.gallery__title {
  margin-bottom: 80px;
}

.gallery-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #1D1C21;
  padding: 50px 30px;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.gallery-item__title {
  font-size: 29px;
  margin-bottom: 10px;
}
.gallery-item__sub-title {
  font-size: 23px;
}
.gallery-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}