.heroes {
  position: relative;
}

.heroes__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000000;
  opacity: 0.5;
  pointer-events: none;
  z-index: -1;
}
.heroes__video video {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.heroes__fon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  width: 0;
  height: 0;
  border-radius: 100%;
  background: var(--support-color);
  -webkit-animation: fon 0.3s linear forwards;
          animation: fon 0.3s linear forwards;
}
@-webkit-keyframes fon {
  to {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes fon {
  to {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.heroes-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: clamp(1.25rem, 5vw, 3.125rem);
     -moz-column-gap: clamp(1.25rem, 5vw, 3.125rem);
          column-gap: clamp(1.25rem, 5vw, 3.125rem);
  row-gap: clamp(2.5rem, 5vw, 3.75rem);
}

.heroes-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.heroes-info__name {
  text-align: left;
  font-weight: 900;
  font-size: clamp(2.188rem, 5vw, 4rem);
  margin-bottom: clamp(1.125rem, 5vw, 2.188rem);
}

.heroes-info__desc {
  text-align: left;
  line-height: 1.5;
  font-size: clamp(1.313rem, 5vw, 1.875rem);
  margin-bottom: clamp(3.438rem, 5vw, 5rem);
}

.heroes-carousel {
  min-width: 0;
}

.heroes-carousel__item {
  max-width: 400px;
  margin: 0 auto;
}

.heroes-carousel__image {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.heroes-carousel .owl-item img {
  transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: scale3d(0.5, 0.5, 1);
  transform: scale3d(0.5, 0.5, 1);
  -webkit-backface-visibility: hidden;
}

.heroes-carousel .owl-item.active img {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  transition: -webkit-transform 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: -webkit-transform 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1.4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.heroes-carousel .owl-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heroes-carousel__navbtn {
  background: rgb(42, 42, 42) !important;
  color: #fff !important;
  border-radius: 40px !important;
  width: clamp(1.563rem, 5vw, 2.5rem);
  height: clamp(1.563rem, 5vw, 2.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(0.75rem, 2vw, 1.6rem);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.heroes-carousel__navbtn:hover {
  background: #fff !important;
  color: rgb(42, 42, 42) !important;
}

.heroes-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000000;
  position: relative;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  margin-top: clamp(4.688rem, 5vw, 5.625rem);
}

.heroes__dot {
  cursor: pointer;
  max-width: clamp(9.375rem, 5vw, 18.75rem);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.heroes__dot:hover {
  -webkit-transform: scale(1.2) rotate(-5deg);
          transform: scale(1.2) rotate(-5deg);
}

@media (min-width: 768px) {
  .heroes-info__desc {
    height: 300px;
    overflow-y: auto;
  }
}
@media (max-width: 768px) {
  .heroes-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    row-gap: 60px;
  }
  .heroes-info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    text-align: center;
  }
  .heroes-info__name {
    text-align: center;
  }
  .heroes-info__desc {
    text-align: center;
  }
  .heroes-carousel__item {
    max-width: clamp(12.5rem, 5vw, 18.75rem);
    margin: 0 auto;
  }
}
/* .heroes{
	position: relative;
}


.heroes__video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000000000;
	opacity: 0.5;
	pointer-events: none;
	z-index: -1;

	video{
		width: 100%;
		height: 100%;
		max-width: 100%;
		object-fit: cover;
	}
}


.heroes__fon{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;

    width: 0;
    height: 0;
    border-radius: 100%;
    background: var(--support-color);

    animation: fon .3s linear forwards;

    @keyframes fon{
    	to{
    		width: 100%;
	        height: 100%;
	        border-radius: 0;
    	}
    }
}




.heroes-top{
	display: flex;
    align-items: center;
}

.heroes-info{
	flex: 0 0 50%;



    &__name {
        text-align: left;
		margin-bottom: 40px;
		@media(max-width: 992px){
			text-align: center;
		}
    }
    &__desc {
        margin-bottom: 30px;
		line-height: 1.7;
		letter-spacing: 1.3px;
    }

    &__button {
    }

	@media(max-width: 992px){
		text-align: center;
	}

	@media(max-width: 768px){
		&__desc{
			margin-bottom: 25px;
		}

		&__name{
			margin-bottom: 30px;
		}
	}

	@media(max-width: 320px){
		&__desc{
			margin-bottom: 20px;
		}

		&__name{
			margin-bottom: 25px;
		}
	}
}

.heroes-carousel{
	flex: 0 0 50%;
}




.heroes-carousel .owl-item img{
	    transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
    -webkit-backface-visibility: hidden;
}


.heroes-carousel .owl-item.active img{
	    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transition: -webkit-transform 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 1.4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}






.heroes-carousel .owl-nav .owl-prev,
.heroes-carousel .owl-nav .owl-next{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	&:hover{
		span{
			color: #D8D8D8;
		}
	}

	transition: all .2s ease;
}



.heroes-carousel__item{
	cursor: pointer;
}

.heroes-nav{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 70px;
	z-index: 1000000;
	position: relative;
}


@media(max-width: 992px){
	.heroes-nav{
		margin-top: 50px;
	}

	.heroes-info{
		margin-bottom: 60px;
	}
}

@media(max-width: 568px){
	.heroes-nav{
		margin-top: 30px;
	}

	.heroes-info{
		margin-bottom: 40px;
	}
}


.heroes-nav__item{
    cursor: pointer;
    transition: all .3s linear;

    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover{
        transform: scale(1.2) rotate(-5deg);
    }
	max-width: 200px;
		@media(max-width: 576px){
		max-width: 100px;
	}

}


.heroes-nav__name{
	font-weight: 900;
}


.heroes-carousel__navbtn{
	background: rgb(42, 42, 42);
	color: #fff;
	border-radius: 40px;

	&:hover{
		background: #fff;
		color: rgb(42, 42, 42);
	}

	transition: all .4s ease;
}


.heroes-carousel .owl-nav .owl-prev{
	left: 0;
}

.heroes-carousel .owl-nav .owl-next{
	right: 0;
}

 */